# Laravel / PHP
/vendor
/node_modules
/public/build
/public/hot
/storage/*
!/storage/app/public
.env
.env.backup
.env.production
.phpunit.result.cache
.phpactor.json

# IDE / Editor / OS
/.vscode
/.idea
/.fleet
/.zed
.DS_Store
Thumbs.db

# Otros
Homestead.json
Homestead.yaml
imagen/
contratos/
